*, 
::before,   
::after { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

html, body {
    width: 100%; 
    max-width: 100%;  
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

a {
    text-decoration: none;
    background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

ul {
    list-style-type: none; 
}

::-webkit-scrollbar {
	display: none;
}

img { 
	display: block;
	width: 100%;
	max-width: 100%;
    border-style: none;  /*Remove the border on images inside links in IE 10 */
}

/*************************************************************
  Wrapper > main 
**************************************************************/
/*body {background-color: lightblue}*/
/*.wrapper {border: 5px solid blue}*/
/*header {border: 3px solid green}*/
/*.wrap {border: 5px solid red}*/
/*.hero::before {border: 5px solid red}*/
/*.hero {border: 5px solid green}*/
/*.el:not(:last-child) {border: 3px solid blue}*/
/*.el {border: 2px solid blue}*/
/*.wrap_above {border: 3px solid red}*/
/*.wrap_under {border: 3px solid blue}*/
/*.hero__titles > * {border: 3px solid red}*/

:root {   
    --minGap: 10px; 
    --maxGap: 15px;       
    --maxWidthPage: 1600px;
}  

.wrapper {
    /* parallax */
    overflow: hidden;
    width: 100%;
    max-width: var(--maxWidthPage);
    height: 100vh;
    /*max-height: 1050px;*/ /* если больше, header без background при запуске сайта */
}

.main {
    /* длина страницы */
    height: 100%; 
    width: 100%;
    
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    
    /* parallax */
    perspective: 1px;
    transform-style: preserve-3d;
    /* Указывает, что дочерние элементы элемента должны располагаться в 3D-пространстве.Указывает, что дочерние элементы элемента должны располагаться в 3D-пространстве. */
}

@media all and (min-width: 1360px) { .main {scroll-padding-top: 10%} }
@media all and (max-width: 1359px) { .main {scroll-padding-top: 13%} }
@media all and (max-width: 900px) { .main {scroll-padding-top: 21%} }

/*************************************************************
  El
**************************************************************/
.el {
    position: relative;
    width: 100%;
    max-width: var(--maxWidthPage);
/*    min-height: 100vh;*/
    transform-style: inherit; 
}

/*************************************************************
  Wrap
**************************************************************/
.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateZ(-1px) scale(2) translate(-25%, -25%);
}

/* wrap появляется над el, всегда в центре блока */  
.wrap_above {
    transform: translate(-50%, -50%);
    /* координата Y - чем меньше значение, тем ниже блок и не залезает на предыдущие блоки */
}

.wrap_under {
    transform: translateZ(-.3px) scale(1.3) translate(-38.5%, -39%);
    /* translateZ, scale - увеличивает/уменьшает блок 
       translate  - влево/вправо, поднимает/опускает блок */
}

/*************************************************************
  Hero
**************************************************************/
/*.hero__titles {border: 4px solid white}*/
/*.wrap_above {border: 3px solid red}*/
/*.wrap_under {border: 3px solid blue}*/
/*.hero__titles > * {border: 3px solid lightgreen}*/

.hero::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: block;
    height: 100vh;
    
/*     для ::before в JS */
    background: var(--img, auto);
    background-size: 100% 100%;
    
    /* parallax */
    transform: translateZ(-1px) scale(2.1);
}

.wrap_width {
    width: 100%;
}

.hero__titles {
    position: sticky;
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 901px) {
    .hero__txt {
        padding-top: 12%;
    }
}

@media all and (max-width: 900px) {
    .hero__txt {
        padding-top: 20%;
    }
}

@media all and (max-width: 1000px) and (orientation: landscape) {
    .hero__txt {
        padding-top: 2%;
    }
}

/*************************************************************
  Icons
**************************************************************/
/*.linkIcon {border: 1px solid blue}*/
/*.tel__icon {border: 1px solid blue}*/
/*.hero__titles > * {border: 1px solid white}*/

.linkIcon {
    align-self: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.hero__linkIcon {
    white-space: nowrap;
    font-size: calc(0.1rem + 3vmax);
    font-family: var(--title-font-medium);
    text-align: center;
    color: var(--myWhite);
    transition: var(--trans);
    /*color: #fafafa;
    -webkit-text-fill-color: #fafafa;*/
}

.hero__linkIcon:hover {
    color: var(--blue);
    background-color: var(--myWhite-opacity);
}

.el__linkIcon {
    font-family: var(--title-font-medium);
    font-size: calc(0.3rem + 1.2vmax);
    color: var(--black);
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--black);
    transition: var(--trans);
}

.el__linkIcon:hover {
    color: var(--myWhite);
    background-color: var(--blue);
}

.icon {
    width: calc(0.9rem + 1.6vmax);
    margin-right: 5px;
}

.hero__icon {
    width: calc(0.1rem + 3vmax);
    margin-right: var(--maxGap);
}

/*************************************************************
  Img
**************************************************************/
/*.boxImg {border: 2px solid green}*/
/*.wrap > * {border: 2px solid blue}*/
/*.content3 {border: 3px solid green}*/
/*p {border: 1px solid red}*/
/*figure {border: 3px solid green}*/
/*figcaption {border: 1px solid red}*/

.boxImg_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    /* width/height - соотношение у всех img на сайте одинаковое */
    aspect-ratio: 1.3 / 1; 
    height: 100%; 
    object-fit: cover;
}

.img_maxWidth {
    max-width: 500px;
    max-height: 375px;
}

figure {
    display: flex;
    flex-direction: column;
}

figcaption {
    padding: 5px;
    text-align: center;
}

/*************************************************************
  Wrap_grid
**************************************************************/
/*
el-2:   img h1 content1 content2
el-31:  img h1 h2 content1 
el-32:  img h2 content1       
el-33:  img h2 content1      
el-34:  img h2 content1        
el-4:   img content1 content2 content3 (kontakt) 
el-5:   img h1 content1 content2 
el-6:   img h1 content1 
-----------------------------
el-2, el-5
el-31
el-32, el-34
el-33, el-6
el-4
el-6
*/

.grid {
    display: grid;
    grid-template-rows: auto;
}

/* (el-2, el-5) (el-32, el-34) */
.grid_1,
.grid_3 {
    width: 100%;
}

/* (el-31) (el-33, el-6) (el-4)  */
.grid_2,
.grid_4,
.grid_5 {
    width: 95%;
}

.boxImg {grid-area: img}
.h1 {grid-area: h1}
.h2 {grid-area: h2}
.content1 {grid-area: content1}
.content2 {grid-area: content2}
.content3 {grid-area: content3}

.grid_4 .content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}