/*.contactPage > * {border: 1px solid blue}*/
/*.formWrapper {border: 1px solid red}*/
/*.mapWrapper > * {border: 1px solid blue}*/
/*.contact ul li {border: 1px solid red}*/
/*.contact ul li a > * {border: 1px solid blue}*/

.contactPage { 
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, auto);
    align-items: stretch; /* растягиваем строки по вертикали */
    justify-items: center;
    padding-left: var(--maxGap); 
    padding-right: var(--maxGap);
}

@media all and (min-width: 1025px) {
    .contactPage {
        grid-template-areas: "h1      h1"
                             "contact form"
                             "map     form";
    }
}

@media all and (max-width: 1024px) {
    .contactPage {
        grid-template-areas: "h1      h1"
                             "contact map"
                             "form     form";
    }

    .contact,
    .map {
        height: 93%;
    }
    
    .formWrapper {
        margin-bottom: var(--maxGap);
    }
}

@media all and (min-width: 801px) {
    .contact,
    .map,
    .formWrapper {
        width: 660px;
        max-width: 85%;
        margin-bottom: var(--maxGap);
    }
}

@media all and (max-width: 800px) {
    .contactPage {
        grid-template-areas: "h1"
                             "contact"
                             "form"
                             "map";
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
    }
    
    .contact,
    .map,
    .formWrapper {
        width: 100%;
        max-width: 100%;
        margin-bottom: var(--maxGap);
    }
}

.contactPage h1 {grid-area: h1;}
.contact {grid-area: contact}
.map {grid-area: map}
.formWrapper {grid-area: form}

.map {
    padding: 5px;
}

/* ----------------------- */
.contact {/* для выравнивания элементов внутри блока */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__h2 {
    padding-bottom: var(--minGap);
}

@media all and (max-width: 1024px) {
    .contact {
        padding: var(--minGap);
    }
    
    .contact__h2 {
        padding-top: var(--minGap);
    }
}

@media all and (max-width: 800px) {
    .contact__h2 {
        text-align: left;
    }
}

.contact__link { 
    justify-content: flex-start;
    width: 80%;
    max-width: 100%;
    padding: 3px;
    margin: 0 auto;
/*    border: 1px solid blue;*/
}

@media all and (max-width: 800px) {
    .contact__link {
        width: 100%;
    }
}
 
.contact__img {
    width: 8%;
    margin-right: 5px;
}

/* ----------------------- */
.formWrapper { /* для выравнивания формы */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    /*width: 660px;
    max-width: 100%;*/
    width: 100%;
    max-width: 660px;
    min-height: 460px;
    padding: var(--maxGap);
    display: grid;
    grid-auto-flow: row; /* по умолчанию, строки не определяются явно, но сетка автоматически создает по одной строке для каждого grid-элемента */
    padding-left: 25px;
    padding-right: 25px;
}

.form__input,
.form__button {
    padding: 7px 5px;
}

@media all and (min-width: 801px) {
    .form {
        grid-template-columns: [labels] auto [controls] 1fr;
        grid-gap: var(--maxGap);
    }
    .form__label {
        grid-column: labels;
        grid-row: auto;
    }

    .form__input,
    .form__button {
        grid-column: controls;
        grid-row: auto;
        padding: 7px 5px;
    }
}

@media all and (max-width: 800px) {
    .form {
        width: 100%;
    }
    
    .form__label {
        padding-bottom: 5px;
    }
    
    .form__input {
        margin-bottom: var(--maxGap);
    }
}

.thankyou_message,
.hnp {
    display: none;
    padding: var(--maxGap);
    margin: var(--maxGap);
}

/* Typography - Visualization */
.contact,
.map {
    border: 7px double var(--brown);
}

.contact {
    background-color: var(--white-opacity);
}

@media all and (min-width: 801px) {
    .contact__h2 {
        font-size: calc(0.1rem + 1.6vmax);
    }
}

@media all and (max-width: 800px) {
    .contact__h2 {
        font-size: calc(0.3rem + 1.6vmax);
    }
}
 
.contact__link {
     color: var(--dark-olive);
}

.contact span {
    padding: 5px;
}

.contact span:hover {
    color: var(--red);
    box-shadow:
		inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
		inset 0 0 6px #faecea, /* inner glow */
		inset 0 80px 80px -40px #e18c84, /* gradient #ac3223*/
		1px 1px 3px rgba(0,0,0,0.75); /* shadow */
    transition: all .5s;
}

.contact span:active {
    background-color: #fff;
    font-size: calc(0.3rem + 1vmax);
}

/* ----------------------- */
.form {
    background-color: var(--brown);
    color: #fff;
}

.form__input {
    font-size: calc(0.5rem + .9vmax);
    border: none;
    outline: none; 
}

.form__label_font,
.form__button {
    font-size: calc(0.4rem + .9vmax);
}

.form__label,
.form__input,
.form__button {
    border-radius: 7px;
}

.form__button {
    width: 50%;
    max-width: 80%;
    margin: 0 auto;
	border: 1px solid #4c0300;
    box-shadow:
		inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
		inset 0 0 6px #a23227, /* inner glow */
		inset 0 80px 80px -40px var(--red), /* gradient #ac3223*/
		1px 1px 3px rgba(0,0,0,0.75); /* shadow */
    position: relative;
	overflow: visible; /* IE9 & 10 */
	transition: 500ms linear;		
}

.form__button:hover {
	background: #a61715;
	text-shadow: 0 1px 2px rgba(0,0,0,0.75), 0 0 20px #FFF;
	box-shadow:
		inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
		inset 0 0 6px #da3b2c, /* inner glow */
		inset 0 80px 80px -40px #8d150c, /* gradient */
		1px 1px 3px rgba(0,0,0,0.75); /* shadow */
    color: #fff; 
}

.form__button:focus {
	outline: none; 
}

.form__button:active {
	box-shadow:
		inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
		inset 0 0 6px #da3b2c, /* inner glow */
		inset 0 80px 80px -40px #bc1c10, /* gradient */
		0px 1px 0px rgba(255,255,255,0.25); /* shadow */
    font-size: calc(0.1rem + .9vmax);
    transition: 50ms linear;
}

/* выделение активной секции - этот стиль должен быть после всех стилей */
.activeArticle {background-color: #e4e4d6}