/* ширина основных блоков на странице рассчитывается от ширины страницы, которая равна services=100% ширины обертки, но не больше max-width=1400px; 
   длина страницы будет минимум высота экрана page=min-height=100vh, при этом при уменьшении длины экрана длина контента не будет сжиматься
*/
 
.page-wrap { 
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (min-width: 1025px) {
    .page-wrap {min-height: 100vh;  /*страница будет занимать весь экран, но при уменьшении страницы контент не будет уменьшаться */}
}

.services {
    width: 100%;
    max-width: 1400px;
    display: flex;
}

@media all and (min-width: 1025px) {
    .images {
        width: 60%;
        padding-bottom: 16.7%; /* обеспечивает смещение страницы вниз при изменении длины экрана */
    }
    .content {
        width: 40%;
    }
} 

@media all and (max-width: 1024px) {
    .services {
        flex-direction: column;
    }
    .images {
         width: 100%;
         padding-bottom: 28%; /* обеспечивает смещение страницы вниз при изменении длины экрана */
         order: 1;
    }  
    .content {
        width: 100%;
    }
}

.images {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    padding-top: var(--minGap);
}

.img-1 {
    grid-column: 1;
    grid-row: 1/2;
    max-width: 70%;
    justify-self: center;
}

.img-2 {
    grid-column: 2;
    grid-row: 1;
    max-width: 90%;
    position: absolute;
    top: 2%;
    left: -11.5%;
}

.img-3 {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    max-width: 47%;
    position: absolute;
    top: 79.7%;
    left: 28%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services__h1 { 
    padding-bottom: var(--maxGap);
}

.content__ul li:before {
    padding-right: 5px;
}

@media all and (min-width: 1025px) {
    .content__ul li {
        padding: var(--maxGap);
    }
}

@media all and (max-width: 1024px) {
    .services__h1 { 
        padding-top: var(--maxGap);
    }
    .content__ul li {
        padding: var(--minGap);
    }
}

/* Typography - Visualization */
.images > * {
    filter: drop-shadow(1px 1px 5px gray);  
}

.content__ul {
    background-color: var(--white-opacity);
}

.content__ul li {
    font-family: var(--primary-font);
    font-size: calc(0.5rem + .9vmax);
}

.content__ul li:before {
    font-weight: bold;
    color: var(--red);
    content: "\2606";
    transition-duration: 0.5s;
}

.content__ul li:hover:before {
    color: var(--dark-green);
    content: "\2606";
}


