:root { 
    --minGap: 10px; 
    --maxGap: 15px; 
}

*, 
::before, 
::after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
} 

html, body {width: 100%}
body {margin: 0 auto}

a {
    text-decoration: none;
    background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

img {
	display: block;
	width: 100%;
	max-width: 100%;
    border-style: none;  /*Remove the border on images inside links in IE 10 */
}

ul {
    list-style-type: none;
}

.hero { 
    width: 100%;
    height: 100vh;
} 

.hero__h1 {
    padding-top: 75.5vh;
}

.header {
    padding: var(--minGap) 3% 0 10%;
    z-index: 1;
}

@media all and (max-width: 1024px) {
    .header {
        padding: 0px var(--minGap) 0px var(--minGap) 10%;
    }
}

/* ширина elem_fixed - относительно ширины html */
.header_fixed {
    width: 100%; 
    position: fixed;
}

.header_grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logo nav-toggle nav"
                         "logo . headerLink";
    
    -ms-grid-columns: 18% auto 82%;
    
    grid-template-columns: 18% auto 82%;
    -ms-grid-rows: auto 1fr;
    grid-template-rows: auto 1fr;
    
    -webkit-box-align: center;
    
        -ms-flex-align: center;
    
            align-items: center;
    justify-items: end;
    /* если не указывать center/end, то по умолчанию stretch - все элементы растягиваются на доступную ширину/высоту */
}

@media all and (max-width: 1024px) {
    .header_grid {
        -ms-grid-columns: 19% auto 40%;
        grid-template-columns: 19% auto 40%;
            grid-template-areas: "nav-toggle headerLink logo"
                             ". headerLink .";
    }
}

.logo {-ms-grid-row: 1;-ms-grid-row-span: 2;-ms-grid-column: 1;grid-area: logo}
.nav-toggle {-ms-grid-row: 1;-ms-grid-column: 2;grid-area: nav-toggle}
.nav {-ms-grid-row: 1;-ms-grid-column: 3;grid-area: nav}
.header__link {-ms-grid-row: 2;-ms-grid-column: 3;grid-area: headerLink}
@media all and (max-width: 1024px) {
    .logo { 
        -ms-grid-row: 1; 
        -ms-grid-row-span: 1; 
        -ms-grid-column: 3;
    }
    .nav-toggle { 
        -ms-grid-row: 1; 
        -ms-grid-column: 1;
    }
    .header__link { 
        -ms-grid-row: 1; 
        -ms-grid-row-span: 2; 
        -ms-grid-column: 2;
    } 
}

@media all and (max-width: 1024px) {
    .logo {
        margin-right: 5px;
    }
}

.nav-toggle {
    display: none;
}

@media all and (max-width: 1024px) { 
    .nav-toggle {
        display: block;
        margin: auto 0;
        z-index: 2;
        cursor: pointer; 
        padding: var(--minGap);
    }
}

.nav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: var(--minGap);
}

.link__img {
    max-width: 10%;
}

@media all and (max-width: 1024px) {
    .link__img {
        max-width: 18%;
    }
}

.h1__padding,
.h2__padding {
    padding: var(--maxGap);
}

@media all and (max-width: 1024px) {
    .nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-right: 0;
    }

    .nav ul {
        display: block;
        height: 90vh; 
    }
    
    .nav li {
        height: 25%; /* nav.ul.height/количество li */
    }
    
    .nav__link {
        height: 100%;
    }
    
    .nav.close {
        pointer-events: none;  /* меню в потоке и маркер для ссылок срабатывает */
    }

    /* меню закрывается */
    .nav.close li {
        opacity: 0;
    }

    /* меню открывается */
    .nav.open li {
        opacity: 1;
    }

    .nav.open li:nth-child(1) {
        -webkit-transition: opacity 0.5s linear 0.1s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
        transition: opacity 0.5s linear 0.1s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
        -o-transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, opacity 0.5s linear 0.1s;
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, opacity 0.5s linear 0.1s;
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, opacity 0.5s linear 0.1s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    }

    .nav.open li:nth-child(2) {
        -webkit-transition: opacity 0.5s linear 0.2s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
        transition: opacity 0.5s linear 0.2s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
        -o-transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s, opacity 0.5s linear 0.2s;
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s, opacity 0.5s linear 0.2s;
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s, opacity 0.5s linear 0.2s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
    }

    .nav.open li:nth-child(3) {
        -webkit-transition: opacity 0.5s linear 0.3s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
        transition: opacity 0.5s linear 0.3s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
        -o-transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, opacity 0.5s linear 0.3s;
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, opacity 0.5s linear 0.3s;
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, opacity 0.5s linear 0.3s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
    }

    .nav.open li:nth-child(4) {
        -webkit-transition: opacity 0.5s linear 0.4s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
        transition: opacity 0.5s linear 0.4s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
        -o-transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s, opacity 0.5s linear 0.4s;
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s, opacity 0.5s linear 0.4s;
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s, opacity 0.5s linear 0.4s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
    }

    .nav.open li:nth-child(5) {
        -webkit-transition: opacity 0.5s linear 0.5s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
        transition: opacity 0.5s linear 0.5s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
        -o-transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s, opacity 0.5s linear 0.5s;
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s, opacity 0.5s linear 0.5s;
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s, opacity 0.5s linear 0.5s, -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    }

    .nav.close li:nth-child(5) {
        -webkit-transition: opacity 0.3s linear 0s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
        transition: opacity 0.3s linear 0s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
        -o-transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s, opacity 0.3s linear 0s;
        transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s, opacity 0.3s linear 0s;
        transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s, opacity 0.3s linear 0s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
    }

    .nav.close li:nth-child(4) {
        -webkit-transition: opacity 0.3s linear 0.05s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s;
        transition: opacity 0.3s linear 0.05s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s;
        -o-transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s, opacity 0.3s linear 0.05s;
        transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s, opacity 0.3s linear 0.05s;
        transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s, opacity 0.3s linear 0.05s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s;
    }

    .nav.close li:nth-child(3) {
        -webkit-transition: opacity 0.3s linear 0.1s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s;
        transition: opacity 0.3s linear 0.1s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s;
        -o-transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s, opacity 0.3s linear 0.1s;
        transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s, opacity 0.3s linear 0.1s;
        transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s, opacity 0.3s linear 0.1s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s;
    }

    .nav.close li:nth-child(2) {
        -webkit-transition: opacity 0.3s linear 0.15s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s;
        transition: opacity 0.3s linear 0.15s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s;
        -o-transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, opacity 0.3s linear 0.15s;
        transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, opacity 0.3s linear 0.15s;
        transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, opacity 0.3s linear 0.15s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s;
    }

    .nav.close li:nth-child(1) {
        -webkit-transition: opacity 0.3s linear 0.2s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;
        transition: opacity 0.3s linear 0.2s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;
        -o-transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s, opacity 0.3s linear 0.2s;
        transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s, opacity 0.3s linear 0.2s;
        transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s, opacity 0.3s linear 0.2s, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;
    }
}

.footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: var(--maxGap);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

/* Typography - Visualization */
@font-face { 
    font-family: Chivo-ExtraBold;
    font-display: swap;
    src: url(../font/Chivo-ExtraBold.otf);
}

@font-face { 
    font-family: Chivo-Medium;
    font-display: swap;
    src: url(../font/Chivo-Medium.otf);
}

@font-face { 
    font-family: RedHatText-Regular;
    font-display: swap;
    src: url(../font/RedHatText-Regular.otf);
}

:root {
    --title-font-bold: 'Chivo-ExtraBold', 'Arial', 'Helvetica', sans-serif;
    --title-font-medium: 'Chivo-Medium', 'Arial', 'Helvetica', sans-serif;
    --primary-font: 'RedHatText-Regular', 'Arial', 'Helvetica', sans-serif;
    
    --black: #00141E;
    --dark-olive: #423a1d;
    --beige: #ffffcc;   
    --red: #8d150c; 
    --dark-green: #364e41; 
    --light-green: #deede5;
    --light-green1: #8dbfa3;
    --light-green2: #9dc8b0;
    --light-green3: #add1bd;
    --light-green4: #bedacb;
    --light-gray: #f4f3f4; 
    --brown: #857667; 
    --white-opacity: rgba(255,255,255,.6);
}

html {
    font-size: 16px;
    line-height: 1.15;
	-webkit-text-size-adjust: 100%; 
    background-color: var(--light-gray);
}

@media all and (max-width: 900px) {
    html {
        font-size: 24px;
    }
}

body {
    font-family: var(--primary-font);
    font-size: calc(0.5rem + .9vmax);
}

.h1 {
    font-family: var(--title-font-bold);
    font-size: calc(0.5rem + 2vmax);
}

.h2 {
    font-family: var(--title-font-medium);
    font-size: calc(0.1rem + 2vmax);
}

.h1,
.h2 {
    color: var(--dark-olive);
    text-align: center;
}

/*.hero {
    background: url(../img/home-teaser.jpg) no-repeat rgba(112, 107, 88, .9) top center;
    background-size: cover;
}*/

.hero__h1 {
    font-size: calc(0.5rem + 4vmax);
    color: #fff;
}

/* effect: see through the header bar */
.nav__filter {
    padding-top: 0px;
    color: #eac288;
    background-color: rgba(112, 107, 88, .9);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}    

/*@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .nav__filter {
        padding-top: 0px;
        color: #eac288;
        background-color: rgba(112, 107, 88, .9);
        -webkit-backdrop-filter: brightness(1.5) blur(4px);
        backdrop-filter: brightness(1.5) blur(4px);
        transition: all .4s;
    }    
}*/

.nav__filter {
    padding-top: 0px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}    

@supports ((-webkit-backdrop-filter: brightness(1.5) blur(4px)) or (backdrop-filter: brightness(1.5) blur(4px))) {
    .nav__filter {
        background-color: rgba(112, 107, 88, .9);
        -webkit-backdrop-filter: brightness(1.5) blur(4px);
        backdrop-filter: brightness(1.5) blur(4px);
    }    
}

@supports not (-webkit-backdrop-filter: brightness(1.5) blur(4px)) or ((-webkit-backdrop-filter: brightness(1.5) blur(4px)) or (backdrop-filter: brightness(1.5) blur(4px))) {
    .nav__filter {
        background-color: rgba(112, 107, 88, .99);
    }    
}

.nav__link {
    font-family: var(--primary-font);
    color: var(--dark-olive);
    text-transform: uppercase;
}

.nav__link_coror_js {
    color: var(--beige); 
}

@media screen and (min-width: 1025px) {
    .nav__link {
        font-size: calc(0.5rem + .9vmax);
    }
}
@media screen and (max-width: 1024px) {
    .nav__link {
        font-size: calc(0.5rem + 4vmax);
    }
    
    .nav li:nth-child(1) {
        background-color: var(--light-green1);
    }
    
    .nav li:nth-child(2) {
        background-color: var(--light-green2);
    }
    
    .nav li:nth-child(3) {
        background-color: var(--light-green3);
    }
    
    .nav li:nth-child(4) {
        background-color: var(--light-green4);
    }
}

.link__info {
    padding: 5px;
    color: #fff;
    font-weight: 800;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    text-align: center;
}

.link__info:hover {
    color: var(--red);
    -webkit-box-shadow:
		inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
		inset 0 0 6px #faecea, /* inner glow */
		inset 0 80px 80px -40px #e18c84, /* gradient #ac3223*/
		1px 1px 3px rgba(0,0,0,0.75);
            box-shadow:
		inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
		inset 0 0 6px #faecea, /* inner glow */
		inset 0 80px 80px -40px #e18c84, /* gradient #ac3223*/
		1px 1px 3px rgba(0,0,0,0.75); /* shadow */
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.link__info:active {
    background-color: #fff;
}

@media all and (min-width: 561px) {
    .link__info {font-size: calc(0.5rem + 1.2vmax)}
    .link__info:active {font-size: calc(0.5rem + 1.1vmax)}
}

@media all and (max-width: 560px) {
    .link__info {font-size: calc(0.4rem + .9vmax)}
    .link__info:active {font-size: calc(0.4rem + .26vmax)}
}

.footer__link {
    font-family: var(--primary-font);
    color: var(--beige);
    text-transform: uppercase;
    font-size: calc(0.5rem + .9vmax);
    text-align: center;
}

/* ---------------------------------- */
.link_anim {
    position: relative;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; 
}

.link_anim span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--dark-green);
    z-index: -1;
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

.link_anim:hover {
    color: #fff;
}

.link_anim:hover span {
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
}
.link_anim span:nth-child(1) {
    left: 0;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}
.link_anim span:nth-child(2) {
    left: 25%;
    -webkit-transition-delay: 0.15s;
         -o-transition-delay: 0.15s;
            transition-delay: 0.15s;
}
.link_anim span:nth-child(3) {
    left: 50%;
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
}
.link_anim span:nth-child(4) {
    left: 75%;
    -webkit-transition-delay: 0.45s;
         -o-transition-delay: 0.45s;
            transition-delay: 0.45s;
}

/* должен быть после всех стилей nav__link */
.activeNav {
    color: #fff;
    background-color: var(--dark-green);
/*    border-bottom: 1px solid var(--dark-green);*/
/*    outline: 5px solid #e3e3e3;*/
}

/* ------------------- */
.alert_up {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 5px;
    bottom: 1%;
    z-index: 1;
    background: url(../img/icons/icon-g-up-red-4.png);
    background-repeat: no-repeat;
    background-size: cover; 
    cursor: pointer;
    background-color: var(--white-opacity);
    border-radius: 50%; 
/*    border-style: dotted;*/
}

