@font-face {   
    font-family: Chivo-ExtraBold;
    font-display: swap;
    src: url(../font/Chivo-ExtraBold.otf);
}
 
@font-face { 
    font-family: Chivo-Medium;
    font-display: swap;
    src: url(../font/Chivo-Medium.otf);
}

@font-face { 
    font-family: RedHatText-Regular;
    font-display: swap;
    src: url(../font/RedHatText-Regular.otf);
}

*, 
::before,  
::after { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

:root {   
    --minGap: 10px; 
    --maxGap: 15px;     
    --widthPage: 100%;
    --maxWidthPage: 1600px;
    --heightPage: 100vh;
}  

html, body {
    width: var(--widthPage); 
    max-width: var(--widthPage); 
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: var(--heightPage);
}

a {
    text-decoration: none;
    background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

ul {
    list-style-type: none; 
}

::-webkit-scrollbar { 
	display: none;
}

img { 
	display: block;
	width: 100%;
	max-width: 100%;
    border-style: none;  /*Remove the border on images inside links in IE 10 */
}

/*.img,
.icon {
    aspect-ratio: attr(width) / attr(height);
}*/ 

.img {
    aspect-ratio: 1.3 / 1; 
}

.icon {
    aspect-ratio: 1 / 1; 
}

/*************************************************************
  Wrapper > heder + main 
**************************************************************/
.wrapper {
    /* parallax */
    overflow: hidden;
    width: var(--widthPage);
    max-width: var(--maxWidthPage);
    height: var(--heightPage);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    max-width: var(--maxWidthPage);
    z-index: 1;
    
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    
    padding: var(--maxGap) var(--minGap);
}

.main {
    /* длина страницы */
    width: var(--width);
    height: var(--heightPage);
    
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    
    /* parallax */
    perspective: 1px;
    transform-style: preserve-3d;
    /* Указывает, что дочерние элементы элемента должны располагаться в 3D-пространстве */
}

/*************************************************************
  NAV
**************************************************************/
.nav__link {
    display: flex;
    align-items: center;
}

.submenu { 
    position: absolute;
    top: 100%;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);  
}

.lang {
    display: flex;
    flex-wrap: nowrap;
}

/*************************************************************
  El
**************************************************************/
.el {
    position: relative;
    width: var(--width);
    max-width: var(--maxWidthPage);
    transform-style: inherit; 
}

/*************************************************************
  Wrap
**************************************************************/
/*.wrap {border: 3px solid blue}*/
.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateZ(-1px) scale(2) translate(-25%, -25%);
}

.wrap_above {
    transform: translate(-50%, -50%);
}

.wrap_under {
    transform: translateZ(-.3px) scale(1.3) translate(-38.5%, -39%);
}

/*************************************************************
  Hero
**************************************************************/
/*.hero__titles {border: 3px solid blue}
.hero__h1 {border: 3px solid white}
.hero__h2 {border: 3px solid lightgreen}
.hero__linkIcon {border: 3px solid lightyellow}
.hero__txt {border: 3px solid lightblue}*/

.hero::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: block;
    height: var(--height);
    background: var(--img, auto); /*для ::before в JS*/
    background-size: 100% 100%;
    
    /* parallax */
    transform: translateZ(-1px) scale(2.1);
}

.wrap_width {
    width: var(--widthPage);
}

.hero__titles {
    position: sticky;
    display: flex;
    flex-direction: column;
}

.hero__txt {
    text-align: right;
}

@media all and (max-width: 1000px) and (orientation: portrait) {
    .hero__txt {
        padding-top: 20%;
    }
}

@media all and (max-width: 1000px) and (orientation: landscape) {
    .hero__txt {
        padding-top: 2%;
    }
}

/*************************************************************
  Icons
**************************************************************/
.linkIcon {
    align-self: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

/*.hero__linkIcon {
    white-space: nowrap;
    text-align: center;
}*/

.icon {
/*    aspect-ratio: 1 / 1;   */
/*    aspect-ratio: attr(width) / attr(height);*/
    margin-right: 5px;
}

.hero__icon {
    display: block;
    margin-right: var(--maxGap);
}

/*************************************************************
  TYPOGRAPHY - VISUALIZATION
**************************************************************/
:root {
    --title-font-bold: 'Chivo-ExtraBold', 'Arial', 'Helvetica', sans-serif;
    --title-font-medium: 'Chivo-Medium', 'Arial', 'Helvetica', sans-serif;
    --primary-font: 'RedHatText-Regular', 'Arial', 'Helvetica', sans-serif;
    
    --black: #00141E;
    --blue: #064491; 
    --filter: rgba(6, 68, 145, .9);  
    --white: #fafafa;  
    --white-opacity: rgba(250, 250, 250, .9); 
    --trans: .3s linear;
} 

html {
    line-height: 1.30;
	-webkit-text-size-adjust: 100%; 
    color: var(--black);
}

body {
    font-family: var(--primary-font);
    font-size: calc(0.5rem + .81vmax);
}

.icon {
    width: calc(0.9rem + 1.6vmax);
}

/*************************************************************
  Hero
**************************************************************/
.hero {
    color: var(--white);
}

.hero__h1 {
    font-family: var(--title-font-bold);
    font-size: calc(0.5rem + 6vmax);
}

.hero__h2 {
    font-family: var(--title-font-medium);
}

.hero__h1, 
.hero__h2 {
    text-align: center;
}

.hero__h2,
.hero__icon {
    font-size: calc(0.1rem + 3vmax);
}

.hero__txt {
    text-shadow: 1.5px 1.5px 2px var(--black);
}

.hero__linkIcon {
    font-size: calc(0.1rem + 3vmax);
    font-family: var(--title-font-medium);
    color: var(--white);
    transition: var(--trans);
}


/*************************************************************
  Nav
**************************************************************/
.submenu,
.nav__link {
    transition: all var(--trans); 
}

.nav__link[href="#"] {
    cursor: default;
}

.nav__link {
    white-space: nowrap;
}

/*************************************************************
  Аctive Nav/Topmenu - должен быть после всех стилей nav__link
**************************************************************/
.activeNav,
.activeTopmenu {
    cursor: no-drop;
}

/*************************************************************
  arrow
**************************************************************/
:root {      
    --arrowNavSize: calc(0.3rem + .65vmax);
}

.arrow {  
    cursor: pointer;
    z-index: 1;
    transition: var(--trans);
}

/*
 STYLE2.CSS
.arrow_up {
    transform: rotate(-45deg);
    border-top: 3px solid var(--blue);
    border-right: 3px solid var(--blue);
}*/

.arrow_down {
    transform: rotate(135deg); 
    border-top: 3px solid var(--white);
    border-right: 3px solid var(--white);
}
/*.arrow_right {transform: rotate(45deg)}*/
/*.arrow_left {transform: rotate(-135deg)}*/

.nav__arrow { 
    position: absolute;
    width: var(--arrowNavSize);
    height: var(--arrowNavSize);
}

/*************************************************************
  lang
**************************************************************/
/* когда при навигации по страницам используем <button> */  
.btn {
     сбросить стандартные стили кнопки 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    transition: all var(--trans); 
}

/* когда при навигации по страницам используем <a> */
/*.btn {
    cursor: pointer;
    border-radius: 50%;
    transition: all var(--trans); 
}*/




